html, body, canvas {
    padding:0;
    margin:0;
    display:0;
    width:100%;
    height:100%;
    overflow: hidden;
}

body {
    background: #000;
    color:#fff;
}

#phaser-parent a {
    text-decoration: none;
    color:#fff;
}

#phaser-parent {
    color:#fff;
}

#phaser-parent .github-link,
#phaser-parent .phaser-link {
    display: block;
    text-align: right;
    margin-top:0.5em;
}

#phaser-parent .github-link::after {
    content:'';
    height:2em;
    width:2em;
    background: url('./branding/github-mark-white.svg')  no-repeat;
    background-size: contain;
    display:inline-block;
    margin-left:0.5em;
}

#phaser-parent .phaser-link::after {
    content:'';
    height:1em;
    width:4em;
    background: url('./branding/phaser_pixel_medium_flat.png') no-repeat;
    background-size: contain;
    display:inline-block;
    margin-left:0.5em;
}

#phaser-parent .main-menu-text {
    text-align: center;
}

#phaser-parent .main-menu-text h1,
#phaser-parent .main-menu-text h2,
#phaser-parent .main-menu-text h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#phaser-parent .main-menu-text p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#phaser-parent button {
    border-top: solid 1px #70f357;
    border-left: solid 1px #70f357;

    border-right: solid 1px #16530a;
    border-bottom: solid 1px #16530a;

    font-size: 18px;
    border-radius: 2px;
    background: linear-gradient(#38a01b, #35700b);
    color:#000;
    padding:4px 24px;

    outline: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

#phaser-parent button:focus,
#phaser-parent button:hover {
    text-decoration: underline;
}

#phaser-parent button.green-button {
    border-top: solid 1px #70f357;
    border-left: solid 1px #70f357;

    border-right: solid 1px #16530a;
    border-bottom: solid 1px #16530a;

    background: linear-gradient(33deg, #38a01b, #35700b, 30deg);
}

#phaser-parent button.red-button {
    border-top: solid 1px #f3575f;
    border-left: solid 1px #f3575f;

    border-right: solid 1px #530a0e;
    border-bottom: solid 1px #530a0e;

    background: linear-gradient(#b32129, #8e142a);
}
